/************************** Reference Links **************************
CSS Selectors: https://www.reddit.com/r/webdev/comments/ur6v5m/css_selectors_visually_explained/

Buttons: https://www.reddit.com/r/webdev/comments/uq104d/100_css_buttons_code_in_the_replies/

Flexbox: https://www.reddit.com/r/webdev/comments/usln38/a_visual_reference_of_css_flexbox/

CSS Grid: https://www.reddit.com/r/webdev/comments/uxrhf4/css_grid_summarized_in_one_image/

Theme: https://coolors.co/44355b-31263e-221e22-eca72c-ee5622
************************** Reference Links Ends **************************/


/************************** common styles **************************/
:root {
  --sidebarWidth: 250px;
  --numDays: 7;
  --numHours: 15;
  --timeHeight: 15px;
  --bgColorPrimary: #221E22;
  --fgColorPrimary: #ECA72C;
  --bgColorSecondary: #31263E;
  --fgColorSecondary: white;
  --bgColorTertiary: #44355B;
  --fgColorTtertiary: #EE5622;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(170deg, #ECA72C, #EE5622);
  font-family: system-ui, sans-serif;
}

ul {
  list-style-type: none;
  color: white;
}

/************************** common style ends **************************/

/************************** header styles **************************/
header {
  position: fixed;
  width: 100%;
  background: #31263E;
  text-align: right;
  line-height: 4em;
}

h1 {
  color: white;
  font-size: 3rem;
  float: left;
  margin-left: 16px;
}

.new-task-button {
  margin-right: 16px;
}


/************************** header style ends **************************/

/************************** task-detail **************************/

.task-detail-popup {
  display: none;
  position: absolute;
  text-align: center;
  top: 20%;
  align-items: center;
  padding: 20px;
  background: #221E22;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.task-detail {
  margin: 40px 0px;
}

.task-detail input {
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.task-detail .hidden {
  display: none;
}

.save-button {
  background-color: #EE5622;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
}

.save-button:hover {
  cursor: pointer;
  background-color: #ECA72C;
}

.cancel-button {
  background: none;
  color: #4a4a4a;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 0.9rem;
}

.cancel-button:hover {
  cursor: pointer;
  background-color: #44355B;
}

/************************** task-detail style ends **************************/

/************************** main **************************/
.main {
  min-width: 700px;
  padding: 3em 1.5em 0 calc(1em + var(--sidebarWidth));
}

/************************** task-list **************************/
.sidebar {
  position: fixed;
  padding: 0 5px 0 0;
  background-color: #221E22;
  float: left;
  top: 4em;
}

.task-list {
  height: calc(100vh - 4em - 1em);
  padding-bottom: 1em;
  overflow-y: scroll;
  width: var(--sidebarWidth);
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.task-list:hover {
  -webkit-mask-position: left top;
  mask-position: left top;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: lightgray; */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #31263E;
}

/* @keyframes background {
  from {
    background: pink;
  }

  to {
    background: #c0d6ff;
  }
} */

.task-group {
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  margin: 1em 0 0 0;
  padding-left: 0.5em
}

.task {
  padding: 0em 0.25em 0.25em .5em;
  font-size: 1.1rem;
  font-weight: 400;
}

.task a {
  color: var(--);
}

.task a:visited {
  color: coral
}

.checkbox {
  margin-right: 10px;
}

/* applied when the task item is checked */
.checked {
  text-decoration: line-through;
}

/************************** task-list style ends **************************/

/************************** main style ends **************************/